header{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    background-color: rgb(64, 146, 218);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

header h1{
    font-size: larger;
}
